<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
%pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
%pip install -q pandas==1.1.5

Note: you may need to restart the kernel to use updated packages.

In [3]:
%sql sqlite:///my_data1.db

Traceback (most recent call last):
  File "/Users/youssefalaa/opt/anaconda3/lib/python3.9/site-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [4]:
import pandas as pd
df = pd.read_csv("Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/Users/youssefalaa/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

**Note:This below code is added to remove blank rows from table**

In [5]:
cur.execute("create table SPACEXTABLE as select * from SPACEXTBL where Date is not null")

OperationalError: table SPACEXTABLE already exists

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
cur.execute("select distinct (Launch_Site) from SPACEXTABLE")
results=cur.fetchall()
print(results)

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [14]:

cur.execute("select Launch_Site from SPACEXTBL where Launch_Site like 'CCA%' limit 5 ")
results=cur.fetchall()
print(results)

[('CCAFS LC-40',), ('CCAFS LC-40',), ('CCAFS LC-40',), ('CCAFS LC-40',), ('CCAFS LC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [17]:
cur.execute("select sum(PAYLOAD_MASS__KG_) from SPACEXTABLE where Customer=='NASA (CRS)' ")
results=cur.fetchall()
print(results)

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [18]:
cur.execute("select avg(PAYLOAD_MASS__KG_) from SPACEXTABLE where Booster_Version=='F9 v1.1' ")
results=cur.fetchall()
print(results)

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [19]:
cur.execute("select min(Date) from SPACEXTABLE where Landing_Outcome=='Success (ground pad)' ")
results=cur.fetchall()
print(results)

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [21]:
cur.execute("select distinct(Booster_Version)from SPACEXTABLE where Landing_Outcome=='Success (drone ship)' And (PAYLOAD_MASS__KG_>4000 AND PAYLOAD_MASS__KG_<6000) ")
results=cur.fetchall()
print(results)

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [23]:
cur.execute("select count(distinct(Landing_Outcome))  from SPACEXTABLE  ")
results=cur.fetchall()
print(results)

[(11,)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [25]:
cur.execute("select Booster_Version from SPACEXTABLE where PAYLOAD_MASS__KG_ == (select Max(PAYLOAD_MASS__KG_) from SPACEXTABLE ) ")
results=cur.fetchall()
for row in results:
    print(row)

('F9 B5 B1048.4',)
('F9 B5 B1049.4',)
('F9 B5 B1051.3',)
('F9 B5 B1056.4',)
('F9 B5 B1048.5',)
('F9 B5 B1051.4',)
('F9 B5 B1049.5',)
('F9 B5 B1060.2 ',)
('F9 B5 B1058.3 ',)
('F9 B5 B1051.6',)
('F9 B5 B1060.3',)
('F9 B5 B1049.7 ',)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [34]:
cur.execute("select substr(Date,6,2),Landing_Outcome,Booster_Version,Launch_Site from SPACEXTABLE where substr(Date,1,4)=='2015'  ")
results=cur.fetchall()
for row in results:
    print(row)

('10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('11', 'Controlled (ocean)', 'F9 v1.1 B1013', 'CCAFS LC-40')
('02', 'No attempt', 'F9 v1.1 B1014', 'CCAFS LC-40')
('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')
('04', 'No attempt', 'F9 v1.1 B1016', 'CCAFS LC-40')
('06', 'Precluded (drone ship)', 'F9 v1.1 B1018', 'CCAFS LC-40')
('12', 'Success (ground pad)', 'F9 FT B1019', 'CCAFS LC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [40]:
cur.execute("select Landing_Outcome , Count(*) from SPACEXTABLE where date between '2010-06-04' And '2017-03-20' group by Landing_Outcome order by count(*) desc ")
results=cur.fetchall()
for row in results:
    print(row)

('No attempt', 10)
('Success (ground pad)', 5)
('Success (drone ship)', 5)
('Failure (drone ship)', 5)
('Controlled (ocean)', 3)
('Uncontrolled (ocean)', 2)
('Precluded (drone ship)', 1)
('Failure (parachute)', 1)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>